<div>
    <h2>
        <span jhiTranslate="apadinheApp.visita.home.title">Visitas</span>
        <button class="btn btn-primary float-right jh-create-entity create-visita" [routerLink]="['/', { outlets: { popup: ['visita-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="apadinheApp.visita.home.createLabel">
            Create new Visita
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'apadinheApp.visita.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="visitas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="apadinheApp.visita.data">Data</span></th>
            <th><span jhiTranslate="apadinheApp.visita.crianca">Crianca</span></th>
            <th><span jhiTranslate="apadinheApp.visita.padrinho">Padrinho</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let visita of visitas ;trackBy: trackId">
                <td><a [routerLink]="['../visita', visita.id ]">{{visita.id}}</a></td>
                <td>{{visita.data | date:'medium'}}</td>
                <td>
                    <div *ngIf="visita.crianca">
                        <a [routerLink]="['../crianca', visita.crianca?.id ]" >{{visita.crianca?.nome}}</a>
                    </div>
                </td>
                <td>
                    {{visita.padrinho?.firstName}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../visita', visita.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'visita/'+ visita.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'visita/'+ visita.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
