<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDoacaoLabel" jhiTranslate="apadinheApp.doacao.home.createOrEditLabel">Create or edit a Doacao</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!doacao.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="doacao.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="apadinheApp.doacao.comprovante" for="field_comprovante">Comprovante</label>
            <input type="text" class="form-control" name="comprovante" id="field_comprovante"
                [(ngModel)]="doacao.comprovante"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="apadinheApp.doacao.valor" for="field_valor">Valor</label>
            <input type="number" class="form-control" name="valor" id="field_valor"
                [(ngModel)]="doacao.valor" required />
            <div [hidden]="!(editForm.controls.valor?.dirty && editForm.controls.valor?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.valor?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.valor?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="apadinheApp.doacao.ong" for="field_ong">Ong</label>
            <select class="form-control" id="field_ong" name="ong" [(ngModel)]="doacao.ong"  required>
                <option *ngIf="!editForm.value.ong" [ngValue]="null" selected></option>
                <option [ngValue]="ongOption.id === doacao.ong?.id ? doacao.ong : ongOption" *ngFor="let ongOption of ongs; trackBy: trackOngById">{{ongOption.nome}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.ong?.dirty && editForm.controls.ong?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.ong?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="apadinheApp.doacao.doador" for="field_doador">Doador</label>
            <select class="form-control" id="field_doador" name="doador" [(ngModel)]="doacao.doador"  required>
                <option *ngIf="!editForm.value.doador" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id === doacao.doador?.id ? doacao.doador : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.firstName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.doador?.dirty && editForm.controls.doador?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.doador?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
