<div>
    <h2>
        <span jhiTranslate="apadinheApp.doacao.home.title">Doacaos</span>
        <button class="btn btn-primary float-right jh-create-entity create-doacao" [routerLink]="['/', { outlets: { popup: ['doacao-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="apadinheApp.doacao.home.createLabel">
            Create new Doacao
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'apadinheApp.doacao.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="doacaos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="apadinheApp.doacao.ong">Ong</span></th>
                <th><span jhiTranslate="apadinheApp.doacao.doador">Doador</span></th>
                <th><span jhiTranslate="apadinheApp.doacao.valor">Valor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let doacao of doacaos ;trackBy: trackId">
                <td><a [routerLink]="['../doacao', doacao.id ]">{{doacao.id}}</a></td>
                <td>
                    <div *ngIf="doacao.ong">
                        <a [routerLink]="['../ong', doacao.ong?.id ]" >{{doacao.ong?.nome}}</a>
                    </div>
                </td>
                <td>
                    {{doacao.doador?.firstName}}
                </td>
                <td>{{doacao.valor}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../doacao', doacao.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'doacao/'+ doacao.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'doacao/'+ doacao.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
